################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SleepMakeSense/Fitbit/obj/Debug
