<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://sleepmakesense.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sleepmakesense.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SleepMakeSense</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SleepMakeSense</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tailoredhealth.database.windows.net,1433;Initial Catalog=SleepMakeSense_db;User ID=DBadmin@tailoredhealth;Password=MAMA1964712@" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SleepMakeSense.Models.ApplicationDbContext, SleepMakeSense" MigrationConfiguration="SleepMakeSense.Migrations.Configuration, SleepMakeSense" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:tailoredhealth.database.windows.net,1433;Initial Catalog=SleepMakeSense_db;Integrated Security=False; User Id=DBadmin@tailoredhealth;Password=MAMA1964712@;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:tailoredhealth.database.windows.net,1433;Initial Catalog=SleepMakeSense_db;Integrated Security=False; User Id=DBadmin@tailoredhealth;Password=MAMA1964712@;Encrypt=True;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tailoredhealth.database.windows.net,1433;Initial Catalog=SleepMakeSense_db;User ID=DBadmin@tailoredhealth;Password=MAMA1964712@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyConnection-Web.config Connection String" />
  </ItemGroup>
</Project>