@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    National Institute of Advaced Industrial Science and Technology <br />
    Koto-ku, Tokyo <br />
    <abbr title="Email">E:</abbr>
    zilu.liang@aist.go.jp
</address>

