@using SleepMakeSense.Models

@model SyncViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sync</title>
    <script src="Chart.js"></script>
    <script>
    var myChart = new Cha
    </script>

</head>
<body>
    <div> 
    </div>
</body>
</html>
